<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="d-flex justify-content-between">
        <div>
            <h3>Sasquatch Websighting</h3>
        </div>
        <div class="d-flex flex-column">
            <a class="my-2" href="/reports/dashboard"><input type="submit" value="Dashboard"></a>
            <a class="my-2" href="/logout"><input type="submit" value="Logout"></a>
        </div>
    </div>
    <div>
        <form action="/reports/<int:report_id>">
            <h3>Edit this Sighting</h3>
            <div class="d-flex justify-content-between">
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" class="form-control" name="location">
                </div>
                <div class="mb-3">
                    <label for="siting_date" class="form-label">Start date:</label>
                    <input type="date" class="form-control" name="siting_date">
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="mb-3">
                    <label for="description">What Happened:</label>
                    <textarea class="form-control"  name="description"></textarea>
                </div>
                <div class="mb-3">
                    <label for="sasquatch" class="form-label"> # of Sasquatches:</label>
                    <input type="number" class="form-control" name="sasquatch">
                </div>
            </div>
            <input type="submit" value="Report">
        </form>
    </div>
</body>

</html>